<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>View Posts</title>
  </head>
  <body>
    <h1>Quora Posts</h1>
    <a href="http://localhost:3000/posts/new" class="btn">Create New Post</a>
    <hr />
    <h2>All Posts</h2>
    <% for(post of posts){ %>
    <div id="post">
      <h3 class="user">@<%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
      <a href="http://localhost:3000/posts/<%= post.id %>">View Post</a> ||
      <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit Post</a> ||
      <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <button>Delete Post</button>
      </form>
    </div>
    <hr />
    <% } %>
  </body>
</html>
